@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}



header{
    background-color: rgb(29, 29, 29);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#icon{
    margin-left: 50%;
    font-size: 2rem;
    cursor: default; 
}



body{
    background-color: rgb(58, 58, 58);
}

.campo{
    background-color: rgb(29, 29, 29);
    padding: 1rem;
    margin: 2rem;
}

article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15rem;
    margin: 0.8rem;
    padding: 0.5rem;
    background-color: rgb(10, 10, 10);
    border-radius: 8px;
}

#btnAdd{
    background-color: rgb(10, 10, 10);
    height: 100%;
    width: 200px;
    border: none;   
}

#add{
    font-size: 3rem;
    color:rgb(185, 221, 250);
    cursor: pointer;
}

#add:hover{
    font-size:3.3rem;
    color: rgb(224, 224, 224);
}

img{
    height: 12rem;
    padding: 0.5rem;
}

.btnMusica{    
    padding: 0 2rem;
    font-size: 1rem;
    background-color: rgb(185, 221, 250);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btnMusica:hover{
    background-color: rgb(224, 224, 224);
    font-size: 1.02rem;
}


@media screen and (max-device-width: 330px){
    .card{
        height: 13.5rem;
    }
    img{
        height: 9rem;
        padding: 0.4rem;
    }
    #btnAdd{
        width: 155px;
    }
}





    /* PAGINA DO FORMULARIO E DE EDIÇÃO*/


#home{
    margin: 30px;
    font-size: 3rem;
    color:rgb(185, 221, 250);
    cursor: pointer;
}   

#home:hover{
    color: rgb(224, 224, 224);
    font-weight: 500;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1{
    font-size: 1.8rem;
    color: rgb(180, 180, 180);
}

label{
    font-size: 1.4rem;
    margin: 0.5rem;
    color: rgb(180, 180, 180)
}

input{
    font-size: 1.2rem;
    width: 50%;
    background-color: rgb(223, 223, 223);
    border-radius: 6px;
}

#adicionar, #editar{
    margin-top: 15px;
    padding: 0.4rem 1.2rem;
    background-color: rgb(185, 221, 250);
    font-size: 1rem;
    border: 1px;
    border-radius: 7px;
    cursor: pointer;
}

#adicionar:hover, #editar:hover{
    background-color: rgb(224, 224, 224);
    font-weight: bold;
    border: none
}


@media screen and (max-device-width: 550px){
    input{
        width: 85%
    }
}




        /*  DETALHES   */



.modal{
    position: fixed;
    padding: 1px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    
}

.modal-content{
    background-color: #292929;
    margin-top: .1rem;
    padding: 8px 20px;
    width: 450px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 7px;
}

.detModal{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

.linhaModal{
    background-color: #505050;
    margin: 5px;
    border-radius: 3px;
}

#x{
    float: right;
    width: 2px;
    cursor: pointer;
    font-size: 30px;
}

#x:hover{
    font-weight: bold;
}

.show-modal{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

#lixeira, #lapi{
    text-decoration: none;
    color: black;
}
#lixeira:hover, #lapi:hover{
    color:rgb(12, 12, 12)
}



       /* FOOTER  */




footer{
    background-color: rgb(29, 29, 29);
    padding: 10px 80px;
}
    
#direitos{
    color: rgb(168, 168, 168);
    text-align: center;
}
    
#ig{
    text-decoration: none;
    color: rgb(0, 0, 0);
}